* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.header {
  background-color: rgb(17, 5, 5);
  width: 100%;
  height: 30vh;
  text-align: center;
}
.header1 {
  text-align: center;
  color: aliceblue;
  font-size: 1.5rem;
  padding-top: 20px;
}
.red1 {
  background-color: red;
  width: 100%;
  height: 80vh;
}
.red {
  text-align: center;
  font-size: xx-large;
  color: white;
}

.Link {
  text-align: center;
}
.Link2 {
  color: aliceblue;
  font-size: xx-large;
  font-weight: bold;
}
